@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
    .btn {

        border-radius: 5px;
        background-color: #2563eb;
        padding: 8px 15px;

    }

    .btn-secondary {
        @apply btn;
        background-color: aquamarine;

    }

    .card {
        @apply flex-center w-24 h-48 bg-blue-700;
    }

    .flex-center {
        @apply flex justify-center items-center
    }

    .big-text {
        font-size: 20px;
        font-weight: bold;
    }
}
